#chiots {
  width : 1000px;
  height : 500px;
  border-radius: 20px;
}

#connexion {
position : relative;

}

#connexion h1 {
  z-index: 1;
  color: white;
  top: 40px;
  left :800px;
  position: absolute;
  font-size: 100px;
}

#formulaire {
  max-width: 500px;
}
