#chiots {
  width : 900px;
  height : 550px;
  border-radius: 20px;
}

#connexion {
position : relative;

}

#connexion h1 {
  z-index: 1;
  color: white;
  top: 20px;
  left :940px;
  position: absolute;
  font-size: 90px;
}

#formulaire {
  max-width: 500px;
}
