.picto {
    width : 100px;
    heigth: 100px;
    color: white;
}

#garanties {
    background-color: $primary;

}

.imagescategories {
    height: 350px;
    witdh: 400px;
}


#textedigidog {

    font-size: large;

}

h3 {
    color: $secondary;
}
