#chiots {
  max-width : 1000px;
  max-height : 500px;
  border-radius: 20px;
}

#formulaire {

  border-radius: 5px;
  padding: 20px;
  width: 400px;
}

.nomchamp {
  font-size : large;
  text-align: center;
  margin-bottom: 15px;
}

.form-control {
  width : 375px;
}

.connexion {

  width: 90%;
  height: 90%;
}

.inscription {

  width: 95%;
  height: 95%;
}